<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <canvas [class.front2]="partyTime" #confetti (click)="boom($event)"></canvas>
  <div class="overlay" [class.front1]="partyTime" (click)="boom($event)"></div>
  <img class="ship" [class.moving]="isShip" src="assets/ship2.png" />
  <img *ngIf="partyTime" class="shrek spinning" src="assets/shrek6.png" />
  <img *ngIf="partyTime" class="shrek2" src="assets/shrek6.png" />
  <img class="bottomShrek" src="assets/shrek6.png" />

  <div class="text card" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="title">CONGATULATION {{ "{BEANS}" }}</h1>
    <div class="subtitle" fxLayout="row" fxLayoutAlign="center center">
      <div class="yagoin">You are going to &nbsp;</div>
      <div class="wavy">
        <span style="--i: 1">P</span>
        <span style="--i: 2">O</span>
        <span style="--i: 3">R</span>
        <span style="--i: 4">T</span>
        <span style="--i: 5">L</span>
        <span style="--i: 6">A</span>
        <span style="--i: 7">N</span>
        <span style="--i: 8">D</span>
      </div>
    </div>

    <div>
      <span class="btn flashing" (click)="claim($event)"
        >CLICK HERE TO CLAIM</span
      >
    </div>
  </div>
</div>
