/* You can add global styles to this file, and also import other style files */
body{margin:0;}

html, body{
  height: 100%;
  width: 100%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  overflow:hidden;
}
